:root {
    --main-color: #000000;
    --font-darkbg: #ffffff;
    --yellow: #FDFD96;
    --ff-primary: "Poppins", sans-serif;
    --pink: #F1AFED;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--main-color);
    text-align: center;
    z-index: 1;
    transition: 0.5s;
}

header.scroll {
    position: fixed;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--main-color);
    z-index: 1;
    transition: 0.5s;
}

.navbar {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: 50%;
}


.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav__link, .nav__button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav__link {
    color: var(--font-darkbg);
}

.nav__link::after { 
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--yellow);
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.nav-toggle {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    bottom: .75rem;
}

.nav-toggle .hamburger {
    height: 3px;
    width: 100%;
    background-color: var(--font-darkbg);
}

.logo {
    color: var(--font-darkbg);
}

.logo p {
    text-align: left;
}

.nav__button {
    font-weight: 600;
    background: var(--font-darkbg);
    color: var(--main-color);
    border-radius: 50px;
    border: 0px solid #fff;
    padding: 5px;
}

.nav__button:hover {
    background: linear-gradient(90deg, #e0a5ca, #3960b6, #ffeb3b, #03a9f4);
    background-size: 450%;
    color: var(--font-darkbg);
    animation: animate 8s linear infinite;
}

.hide {
    display: none !important;
}

.links {
    position: fixed;
    top: 75%;
    left: 2%;
    z-index: 800;
    list-style: none;
}

.links__item, .links__footer--item {
    margin-bottom: .75rem;
}

.links__item:hover {
    transform: translate(10px);
}

.links__footer--item:hover {
    transform: translateY(-10px);
}

.links__item img, .links__footer--item img {
    max-height: 2.2rem;
    max-width: 2.2rem;
}

.links__footer {
    display: none;
}

@media (max-width: 630px) {
    .nav-toggle {
        display: flex;
        top: 1rem;
    }

    header {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header.scroll {
        top: -12rem;
    }

    .navbar {
        position: absolute;
        display: flex;
        text-align: center;
        top: 100%;
        width: 100%;
        min-width: 100%;
        height: 200%;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: var(--main-color);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        color: var(--main-color);
        margin-bottom: 1em;
    }

    .nav__item {
        padding-bottom: .85rem;
    }

    .nav__link {
        background: var(--main-color);
    }

    .logo {
        position: relative;
        margin: 0;
    }

    .nav__button {
        padding: 4px;
        background: var(--font-darkbg);
        color: var(--main-color);
    }
}

@media (min-width: 631px) and (max-width: 1000px) {
    .navbar {
        left: 30%;
        width: 70%;
    }
}

@media (max-width: 865px) {
    .links {
        display: none;
    }

    .links__footer, .links__footer--item {
        display: inline-block;
        align-self: center;
    }

    .links__footer--item {
        position: relative;
        margin-right: 1rem;
    }
}

.intro {
    position: relative;
    top: 0;
    left: 8%;
    height: 100vh;
    width: 80%;
    background-color: var(--main-color);
}

.section__title--intro {
    font-size: 100px;
    color: var(--font-darkbg);
    position: absolute;
    top: 100px;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body:1.125rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}