:root {
    --main-color: #000000;
    --alt-main-color: #0e0d0d;
    --lighter-main-color: #202020;
    --font-darkbg: #ffffff;
    --yellow: #FDFD96;
    --ff-primary: "Poppins", sans-serif;
    --pink: #F1AFED;
    --powder-blue: #66F5FF;
    --left-spacing: 20%;
    --intro-spacing: 8%;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-body);
    position: relative;
    max-height: 320rem;
}

section {
    padding-bottom: 4rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: var(--alt-main-color);
    text-align: center;
    z-index: 999;
    transition: 0.5s;
}

header.scroll {
    position: fixed;
    top: -12rem;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--main-color);
    z-index: 1;
    transition: 0.5s;
}

.navbar {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: 50%;
}


.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav__link, .nav__button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav__link {
    color: var(--font-darkbg);
}

.nav__link::after { 
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--yellow);
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.nav-toggle {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    bottom: .75rem;
}

.nav-toggle .hamburger {
    height: 3px;
    width: 100%;
    background-color: var(--font-darkbg);
}

.logo {
    color: var(--font-darkbg);
}

.logo p {
    text-align: left;
}

.nav__button {
    font-weight: 600;
    background: var(--font-darkbg);
    color: var(--main-color);
    border-radius: 50px;
    border: 0px solid #fff;
    padding: 5px;
}

.nav__button:hover {
    background: linear-gradient(90deg, #e0a5ca, #3960b6, #ffeb3b, #03a9f4);
    background-size: 450%;
    color: var(--font-darkbg);
    animation: animate 8s linear infinite;
}

.hide {
    display: none !important;
}

.links {
    position: fixed;
    top: 75%;
    left: 20px;
    z-index: 800;
    list-style: none;
}

.links__item, .links__footer--item {
    margin-bottom: .75rem;
}

.links__item:hover {
    transform: translate(10px);
}

.links__footer--item:hover {
    transform: translateY(-10px);
}

.links__item img, .links__footer--item img, .project-links img {
    max-height: 2.2rem;
    max-width: 2.2rem;
}

.links__footer {
    display: none;
}

.contact {
    position: absolute;
    top: 280rem;
    width: min(60%, 70.5rem);
    min-height: 100vh;
    max-height: 80rem;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title--contact {
    color: var(--font-darkbg);
    /*left: 30%;*/
}

.contact-notes {
    position: absolute;
    color: var(--font-darkbg);
    max-width: 500px;
    top: 14%;
    padding-bottom: 40px;
    text-align: center;
    /*left: 12%;*/
}

.contact-mail {
    position: absolute;
    text-decoration: none;
    color: var(--font-darkbg);
    top: 28%;
    /*left: 40%;*/
    border: 2px solid var(--powder-blue);
    padding: 8px;
    border-radius: 5px;
}

.contact-mail:hover {
    transform: translate(-5px);
    transform: translateY(-3px);
    box-shadow: 0px 1px 2px 0px var(--powder-blue),
            1px 2px 4px 0px var(--powder-blue),
            2px 4px 8px 0px var(--pink),
            2px 4px 16px 0px var(--powder-blue);
}

@media (max-width: 630px) {
    .nav-toggle {
        display: flex;
        top: 1rem;
    }

    header {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header.scroll {
        top: -12rem;
    }

    .navbar {
        position: absolute;
        display: flex;
        text-align: center;
        top: 100%;
        width: 100%;
        min-width: 100%;
        height: 200%;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: var(--main-color);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        color: var(--main-color);
        margin-bottom: 1em;
    }

    .nav__item {
        padding-bottom: .85rem;
    }

    .nav__link {
        background: var(--main-color);
    }

    .logo {
        position: relative;
        margin: 0;
    }

    .nav__button {
        padding: 4px;
        background: var(--font-darkbg);
        color: var(--main-color);
    }

    .links__item img, .links__footer--item img, .project-links img {
        max-height: 1.4rem;
        max-width: 1.4rem;
    }

    .about-me {
        left: 3% !important;
    }

    .about-me__long-bio-container {
        width: 94% !important;
    }

    .projects {
        left: 3% !important;
    }

    .grid_right .project-display, .grid_right a, .grid_right a img, .grid_right .project-notes-container {
        width: 380px !important;
        position: relative;
    }
}

@media (min-width: 631px) and (max-width: 1000px) {
    .navbar {
        left: 30%;
        width: 70%;
    }
}

@media (max-width: 799px) {
    :root {
        --fs-h1: 2.5rem;
        --fs-h2: 2.2rem;
        --fs-h3: 1rem;
        --fs-body: .9rem;
    }

    .contact {
        left: 5%;
        width: 85%;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 3.25rem;
        --fs-h3: 1.2rem;
        --fs-body:1.1rem;
    }
}

@media (max-width: 865px) {

    .links {
        display: none;
    }

    .links__footer, .links__footer--item {
        display: inline-block;
        align-self: center;
        top: 55rem;
    }

    .links__footer--item {
        position: relative;
        margin-right: 1rem;
    }

    .links__footer--list {
        align-self: center;
    }
}

@media (max-width: 999px) {

    .project-notes {
        background: none !important;
    }

    .grid_right .project-display, .grid_right a, .grid_right a img, .grid_right .project-notes-container {
        width: 400px;
        position: relative;
    }

    .grid_right .project-display {
        min-height: 300px;
    }

    .grid_right .project-notes-container {
        position: absolute;
        top: 0;
        min-height: 282.2px;
        background-color: rgba(32, 32, 32, .95);
    }

    .grid_right .project-title {
        position: absolute;
        top: -7%;
    }

    .grid_right .project-tech-list {
        max-width: 400px;
        height: 30px;
        font-size: .8rem;
    }

    .grid_right .project-tech-list li {
        display: inline-block;
    }

    .grid_right .project-links, .grid_left .project-links {
        max-width: 200px;
    }

    .grid_left {
        position: relative;
    }
    .grid_left .project-display, .grid_left a, .grid_left a img, .grid_left .project-notes-container {
        width: 336px;
    }

    .grid_left .project-notes-container {
        position: absolute;
        top: 0;
        min-height: 299px;
        background-color: rgba(32, 32, 32, .85);
    }

    .grid_left .project-title {
        position: absolute;
        top: -7%;
    }

    .grid_left .project-tech-list {
        max-width: 336px;
        height: 30px;
        font-size: .8rem;
    }
}

@media (min-width: 1000px) {

    .projects_grid_item {
        padding-bottom: 4rem;
    }

    .grid_right, .grid_left {
        position: relative;
        width: 640px;
        height: 317.48px;
    }

    .grid_left {
        left: 20%;
    }

    .grid_right .project-display {
        position: absolute;
    }

    .grid_right .project-title {
        position: absolute;
        top: -30px;
        left: 45%
    }

    .grid_right .project-notes {
        position: absolute;
        top: 54%;
        left: 50%;
        width: 500px;
    }

    .grid_right .project-tech-list {
        position: absolute;
        top: 106%;
        width: 90%;
    }

    .grid_right .project-links {
        position: absolute;
        top: 39%;
        left: 75%;
    }

    .grid_left .project-title {
        position: absolute;
        top: -30px;
    }

    .grid_left .project-display {
        position: absolute;
        left: 20%;
    }

    .grid_left .project-title {
        position: absolute;
    }

    .grid_left .project-notes {
        position: absolute;
        top: 50%;
        left: -20%;
        max-width: 45%;
    }

    .grid_left .project-links {
        position: absolute;
        top: 35%;
        left: 2%;
    }

    .grid_left .project-tech-list {
        position: absolute;
        top: 100%;
        left: 30%;
        width: 400px;
        max-width: 100%;
        height: 20%;
    }
}

@media (max-width: 1100px) {
    :root {
        --left-spacing: 14%;
    }
}

@media (min-width: 1100px) {
    :root {
        --intro-spacing: 25%;
    }
    
}

@media (min-width: 1200px) {
    :root {
        --space-left: 50%,
    }
}

.intro {
    position: absolute;
    display: flex;
    top: 15%;
    left: var(--intro-spacing);
    min-height: 600px;
    max-height: 80rem;
    width: 80%;
    background-color: var(--main-color);
}

.section__title--intro {
    color: var(--font-darkbg);
    position: absolute;
    top: 190px;
    
}

.animation {
    animation: text-shadow 1.5s ease-in-out;
    opacity: 1;
}

.section__title {
    position: absolute;
}

.section__title--heading {
    color: var(--pink);
    background-color: var(--lighter-main-color);
    /*box-shadow: 0px 1px 2px 0px var(--powder-blue); */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.section__title--style {
    color: var(--powder-blue);
    background-color: var(--lighter-main-color);
    top: 90px;
    left: 90px;
    box-shadow: rgba(14, 195, 241, 0.4) -5px 5px, rgba(14, 195, 241, 0.3) -10px 10px, rgba(14, 195, 241, 0.2) -15px 15px, rgba(14, 195, 241, 0.1) -20px 20px, rgba(14, 195, 241, 0.05) -25px 25px;
}

.secondary-intro-container {
    position: absolute;
    top: 270px;
    left: 70px;
    min-width: 22rem;
    min-height: 140px;
    display: flex;
    flex-direction: column;
}

.quick-bio {
    position: absolute;
    color: var(--font-darkbg);
    max-width: 550px;
    top: 450px;
    left: 70px;
}

.about-me {
    color: var(--font-darkbg);
    position: absolute;
    top: 90rem;
    left: 15%;
    min-height: 600px;
    max-height: 80rem;
    width: 80%;
}

.about-me__long-bio-container {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 80%;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.about-me__long-bio-container p {
    margin: 10px;
    padding: 1rem;
}

.about-me__long-bio {
    padding-bottom: 5rem;
    background: var(--lighter-main-color);
}

.projects {
    color: var(--font-darkbg);
    position: absolute;
    top: 180rem;
    left: var(--left-spacing);
    width: 80%;
    min-height: 600px;
    max-height: 80rem;
}

.projects__grid {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
}

.project-display, .project-display img {
    width: fit-content;
    max-width: 450px;
}

.project-display img {
    filter: grayscale(10%);
}

.project-display img:hover {
    filter: grayscale(60%);
    filter: blur(1px);
}

.projects_grid_item {
    margin-bottom: 50px;
}

.project-notes {
    background: var(--lighter-main-color);
    padding: 1rem;
    max-width: 40rem;
    z-index: 5;
}

.project-title {
    color: var(--pink);
}

.project-tech-list {
    color: var(--powder-blue);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-links {
    max-width: 80%;
    width: fit-content;
    display: flex;
    flex-direction: row;   
}

.project-links a {
    margin-right: 20px;
}

.project-notes {
    font-size: .9rem;
}

/*.section__title--aboutme {
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}*/

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

@keyframes text-shadow {
    0% {
        opacity: 0;  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
      }
}


/* toggle */
.invisible {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.disappear {
    opacity: 0;
    filter: blur(2px);
    transition: all 2s;
}

.drop-in:nth-child(2) {
    transition-delay:  100ms;
}

.drop-in:nth-child(3) {
    transition-delay: 200ms;
}

.drop-in:nth-child(4) {
    transition-delay: 300ms;
}

/* toggle */
.show {
    opacity: 1;
    filter: blur(0);
}

.drop-in {
    animation: drop-in 300ms ease-in;
}

.slide-up {
    animation: slide-up 600ms ease-in;
}

@keyframes drop-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}