:root {
    --main-color: #000000;
    --alt-main-color: #0e0d0d;
    --lighter-main-color: #202020;
    --font-darkbg: #ffffff;
    --yellow: #FDFD96;
    --ff-primary: "Poppins", sans-serif;
    --pink: #F1AFED;
    --powder-blue: #66F5FF;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: var(--alt-main-color);
    text-align: center;
    z-index: 999;
    transition: 0.5s;
}

header.scroll {
    position: fixed;
    top: -4rem;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--main-color);
    z-index: 1;
    transition: 0.5s;
}

.navbar {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    width: 50%;
}


.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav__link, .nav__button {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.nav__link {
    color: var(--font-darkbg);
}

.nav__link::after { 
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--yellow);
    transition: width 0.3s;
}

.nav__link:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.nav-toggle {
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    bottom: .75rem;
}

.nav-toggle .hamburger {
    height: 3px;
    width: 100%;
    background-color: var(--font-darkbg);
}

.logo {
    color: var(--font-darkbg);
}

.logo p {
    text-align: left;
}

.nav__button {
    font-weight: 600;
    background: var(--font-darkbg);
    color: var(--main-color);
    border-radius: 50px;
    border: 0px solid #fff;
    padding: 5px;
}

.nav__button:hover {
    background: linear-gradient(90deg, #e0a5ca, #3960b6, #ffeb3b, #03a9f4);
    background-size: 450%;
    color: var(--font-darkbg);
    animation: animate 8s linear infinite;
}

.hide {
    display: none !important;
}

.links {
    position: fixed;
    top: 75%;
    left: 20px;
    z-index: 800;
    list-style: none;
}

.links__item, .links__footer--item {
    margin-bottom: .75rem;
}

.links__item:hover {
    transform: translate(10px);
}

.links__footer--item:hover {
    transform: translateY(-10px);
}

.links__item img, .links__footer--item img, .project-links img {
    max-height: 2.2rem;
    max-width: 2.2rem;
}

.links__footer {
    display: none;
}

.contact {
    position: absolute;
    top: 310vh;
    width: 80%;
    height: 100vh;
    left: 20%;
}

.section__title--contact {
    color: var(--font-darkbg);
    left: 30%;
}

.contact-notes {
    position: absolute;
    color: var(--font-darkbg);
    top: 18%;
    left: 12%;
}

.contact-mail {
    position: absolute;
    text-decoration: none;
    color: var(--font-darkbg);
    top: 28%;
    left: 40%;
    border: 2px solid var(--powder-blue);
    padding: 8px;
    border-radius: 5px;
}

.contact-mail:hover {
    translate: -2px;
    box-shadow: 0px 1px 2px 0px var(--powder-blue),
            1px 2px 4px 0px var(--powder-blue),
            2px 4px 8px 0px var(--pink),
            2px 4px 16px 0px var(--powder-blue);
}

@media (max-width: 630px) {
    .nav-toggle {
        display: flex;
        top: 1rem;
    }

    header {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header.scroll {
        top: -12rem;
    }

    .navbar {
        position: absolute;
        display: flex;
        text-align: center;
        top: 100%;
        width: 100%;
        min-width: 100%;
        height: 200%;
        left: 0;
        flex-direction: column;
        align-items: center;
        background: var(--main-color);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        color: var(--main-color);
        margin-bottom: 1em;
    }

    .nav__item {
        padding-bottom: .85rem;
    }

    .nav__link {
        background: var(--main-color);
    }

    .logo {
        position: relative;
        margin: 0;
    }

    .nav__button {
        padding: 4px;
        background: var(--font-darkbg);
        color: var(--main-color);
    }
}

@media (min-width: 631px) and (max-width: 1000px) {
    .navbar {
        left: 30%;
        width: 70%;
    }
}

@media (max-width: 865px) {
    .links {
        display: none;
    }

    .links__footer, .links__footer--item {
        display: inline-block;
        align-self: center;
        top: 320vh;
    }

    .links__footer--item {
        position: relative;
        margin-right: 1rem;
    }
}

@media (min-width: 1000px) {

    .projects_grid_item {
        padding-bottom: 4rem;
    }

    .grid_right, .grid_left {
        position: relative;
        width: 640px;
        height: 317.48px;
    }

    .grid_left {
        left: 20%;
    }

    .grid_right .project-title {
        position: absolute;
        top: -30px;
        left: 40%
    }

    .grid_right .project-notes {
        position: absolute;
        top: 54%;
        left: 50%;
        width: 500px;
    }

    .grid_right .project-tech-list {
        position: absolute;
        top: 106%;
        width: 90%;
    }

    .grid_right .project-links {
        position: absolute;
        top: 39%;
        left: 75%;
    }

    .grid_left .project-title {
        position: absolute;
        top: -30px;
    }

    .grid_left .project-display {
        position: absolute;
        left: 20%;
    }

    .grid_left .project-title {
        position: absolute;
    }

    .grid_left .project-notes {
        position: absolute;
        top: 50%;
        left: -20%;
        max-width: 45%;
    }

    .grid_left .project-links {
        position: absolute;
        top: 35%;
        left: 2%;
    }

    .grid_left .project-tech-list {
        position: absolute;
        top: 100%;
        left: 30%;
        width: 400px;
        max-width: 100%;
        height: 20%;
    }
}

@media (min-width: 1200px) {
    :root {
        --space-left: 50%,
    }

    .intro, .projects, .about-me {
        left: var(--space-left);
    }

    
}

.intro {
    position: relative;
    display: flex;
    top: 0;
    left: 8%;
    height: 100vh;
    width: 80%;
    background-color: var(--main-color);
}

.section__title--intro {
    font-size: 100px;
    color: var(--font-darkbg);
    position: absolute;
    top: 100px;
}

.section__title {
    font-size: 70px;
    position: absolute;
}

.section__title--heading {
    color: var(--font-darkbg);
    top: 270px;
    left: 70px;
}

.section__title--style {
    color: var(--powder-blue);
    top: 270px;
    left: 190px;
}

.quick-bio {
    position: absolute;
    color: var(--font-darkbg);
    top: 430px;
    left: 70px;
}

.about-me {
    color: var(--font-darkbg);
    position: absolute;
    top: 100vh;
    left: 15%;
    height: 100vh;
    width: 80%;
}

.about-me__long-bio-container {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 80%;
}

.about-me__long-bio {
    padding-bottom: 1rem;
}

.projects {
    color: var(--font-darkbg);
    position: absolute;
    top: 200vh;
    left: 20%;
    width: 80%;
    height: 100vh;
}

.projects__grid {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
}

.project-display, .project-display img {
    width: fit-content;
    max-width: 450px;
}

.project-display img {
    filter: grayscale(10%);
}

.project-display img:hover {
    filter: grayscale(60%);
    filter: blur(1px);
}

.projects_grid_item {
    margin-bottom: 50px;
}

.project-notes {
    background: var(--lighter-main-color);
    padding: 1rem;
    max-width: 40rem;
    z-index: 5;
}

.project-title {
    font-size: var(--fs-h3);
    color: var(--pink);
}

.project-tech-list {
    color: var(--powder-blue);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-links {
    max-width: 80%;
    width: fit-content;
    display: flex;
    flex-direction: row;   
}

.project-links a {
    margin-right: 20px;
}

/*.section__title--aboutme {
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}*/

.section__title--aboutme::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: var(--ff-primary);
    border-left: 2px solid var(--yellow);
    animation: typing 1.5s steps(9);
    z-index: 5;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -45px 0 5px;
    }
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.2rem;
        --fs-body:1.125rem;
    }
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}